$theme-colors: (
  "primary": #1976d2,
  "secondary": #ff9800,
  "success": #81c784,
  "info": #80d8ff,
  "warning": #ffd740,
  "danger": #e65100,
  "light": #f8f9fa,
  "dark": #212529
);

@import "ember-bootstrap/bootstrap";

@import 'color-palette';
$primary: map-merge($color-blue, (
	'default': '700'
));

$accent: map-merge($color-green, (
	'default': '300'
));

$warn: map-merge($color-amber, (
	'default': 'A200'
));

@import 'ember-paper';
@import "ember-paper-expansion-panel";
@import "ember-paper-stepper";
@import 'paper-data-table';
