{{#if hasPermission}}
{{#paper-card class="m-0 flex" as |card|}}
	{{#card.content class="p-0 pt-1 layout-column layout-align-start-stretch"}}
		<div id="tenant-administration-group-manager-tree-container" class="p-2">
			&nbsp;
		</div>
	{{/card.content}}
{{/paper-card}}
{{/if}}
