// Your custom styles
.bg-twyr {
    background-color: #80d8ff;
    background: linear-gradient(40deg, #ff9800, #e0e0e0, #80d8ff, #1976d2);
}

.bg-twyr-component {
	background-color: #80d8ff;
	background: linear-gradient(40deg,#2096ff,#05ffa3)
}
